
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Family Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=css/normalize.css>
    <link rel="stylesheet" href=css/main.css>
  </head>
  <body>
    <header>
      <div class="center-wrapper">
        <nav class="main-nav">
          <ul class="main-menu">
            <li><a routerLink="" class="btn btn-primary active" routerLinkActive="active">Strona Główna </a></li>
            <li><a routerLink="family/createFather" class="btn btn-primary active" routerLinkActive="active">Stwórz Rodzinę </a></li>
            <li><a routerLink="family/search" class="btn btn-primary active" routerLinkActive="active">Wyszukaj </a></li>
            <router-outlet></router-outlet>
          </ul>
        </nav>
      </div>
    </header>
    <!-- <app-create-father></app-create-father> -->
  </body>
</html>
